.hero-wrapper{
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:40px 0 0 0;
}

.hero-wrapper article span{
    color:var(--primary);
    text-decoration: underline;
}

.hero-wrapper .hero-img{
    position: relative;
}

.hero-wrapper .hero-img .triangle{
    width:400px;
    height:200px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: var(--primary);
    z-index: -1;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% 
}

.hero-wrapper .hero-img .hero-btn{
   position: absolute;
   display: flex;
   gap:1rem;
   bottom:20px;
   left:20%;
}

.hero-wrapper .m-text{
    background-color: var(--tertiary);
    padding:1rem;
    color:var(--primary)
}

@media screen and (max-width:1024px){
   
}
